---
as_atscale_host: {{ atscale_host_name }}
is_silent: 'true'
as_distro: HDP
as_use_rpms: 'false'
as_hive_flavor: atscale-impala
as_hive_flavor_batch: atscale-impala
as_hive_host_interactive: localhost
as_hive_port_interactive: '21050'
as_hive_user_interactive: atscale
as_hive_password_interactive: ''
as_hive_host_batch: localhost
as_hive_port_batch: '21050'
as_hive_user_batch: atscale
as_hive_password_batch: ''
as_owner: atscale
as_group: atscale
as_install_directory: "{{ atscale_home }}"
as_engine_memory: 1G
as_hadoop_common_home: "{{ hadoop_home }}/"
as_hadoop_libexec: "{{ hadoop_home }}/libexec"
as_hdfs_home: "{{ hadoop_home }}"
as_hive_home: "{{ hive_home }}"
as_hadoop_conf_dir: "{{ hadoop_home }}/etc/hadoop"
as_hive_conf_dir: "{{ hive_conf_dir }}"
as_compute_stats: 'true'
as_hdfs_root_dir: "/user/atscale/atscale"
as_cloudera_vm: 'false'
as_hortonworks_vm: 'false'
as_postgres_port: '5433'
hll_enabled: 'true'
hll_create_jar: 'true'
as_drill_to_raw_query_limit_optional: 'false'
as_license_file: "{{ atscale_installer_dir }}/dev-vm-license.json"
lzo_jar_location: ''
as_hive_metastore_database: 'false'
ruby_bin: "/tmp/puppet/embedded/bin/ruby"
as_namenode: ''
as_secure_installation: 'false'
as_is_kerberized: 'false'
as_hdp_version: '2.6'
as_spark_queue: default
as_spark_mem: 1G
as_spark_cores: '1'
as_spark_workers: '1'
as_spark_parallelism: '32'
compute_stats_disabled: ''
