{"license":{"client_id":"dev-vm","expires":1483142400},"signature":"QX+q02knY1dSHAciAHQtPaDeFP4WD8opBLBT8lSknAN5tYr/yuJn2TrqvNnxgGyz4i0qi+fZiRtTXFKvBCXZF+hrTWX07eVDvbmQwwI6wwZBkWeyB3Aweju95dMttqxNYTz/28IMC8lvdCtMuoBE9C6YCScAyJZ+qw0yxsyu7YsZ4TANXh4rWRYuxgoaj3iU/i/lg5B+HV0AqQFVyYvBKpXtvJ5WukDceClrBnClKHfytNHDfb2rxmtpiSvtulq7DfW8Y6LiHHIRQOMrqQ7t/dEM8y0RDIS62dPkUXI8vxThEONQqO1r7O74vqwmFZjPH0Cuy9zzjtaaFXjkb7phZw=="}
