




{{ java_filename }}: jdk-8u71-linux-x64.gz
{{ hadoop_version }}: 2.6.3
{{ hadoop_filename }}: "hadoop-{{ hadoop_version }}.tar.gz"

{{ download_dir }}: /tmp/download
{{ share_dir }}: /usr/local/share
